---
import "../styles/blog.scss";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li class="list__item">
                <div class="list__heading">
                  <time datetime={post.frontmatter.pubDate}>
                    {new Date(post.frontmatter.pubDate).toLocaleDateString(
                      "en-us",
                      {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      }
                    )}
                  </time>
                  <span>{post.frontmatter.title}</span>
                </div>
                <div class="list__description">
                  El trozo de texto estándar de Lorem Ipsum usado desde el año
                  1500 es reproducido debajo para aquellos interesados. Las
                  secciones 1.10.32 y 1.10.33 de "de Finibus Bonorum et
                </div>
                <div class="list__footer">
                  <div class="list__cta">
                    <a href={post.url}>
                      <div class="button button__icon">
                        <span>&#9658;</span>
                        <span>Read now</span>
                      </div>
                    </a>
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
